@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/* Basic styling for the whole page and setting background img for the site */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.App {
  height: 100vh;
  background-image: url(backgroundImg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
